

//
// Fonts
//
$font-stack: "ROBOTO", sans-serif;
//$font-stack: "Josefin Sans", sans-serif;
//$font-stack: Helvetica, sans-serif;



//
// Colors
//
$background-color: #1e1f26;
$white: #faebd7;
$red: #ff0266;


//https://codepen.io/aybukeceylan/pen/OJRNbZp

