

@import 'reset';
@import 'variables';

body {
  font: 100% $font-stack;
  color: $white;
  background-color: $background-color;
}

.red {
  background-color: $red;
}

@import 'grid/grid';



/******************************************************
 * NOTES
 *
 *  Attributes
 *   [src="logo.jpg"] {}
 *   [alt="logo"] {}
 * Class which contain `col`
 *   [class*="col"]
 * Class which endes with `col`
 *   [class$="col"]
 * Class which starts with `col-`
 *   [class^="col-"] {
 *
 *
 */