*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 100% "ROBOTO", sans-serif;
  color: #faebd7;
  background-color: #1e1f26; }

.red {
  background-color: #ff0266; }

.row {
  margin: 0 auto;
  width: 100%; }

.row:after {
  clear: both;
  content: "";
  display: block; }

[class^="col-"] {
  float: left;
  margin: 0 auto; }

.col-1 {
  display: block;
  float: left;
  width: calc((100% / 12) * 1); }

.col-2 {
  display: block;
  float: left;
  width: calc((100% / 12) * 2); }

.col-3 {
  display: block;
  float: left;
  width: calc((100% / 12) * 3); }

.col-4 {
  display: block;
  float: left;
  width: calc((100% / 12) * 4); }

.col-5 {
  display: block;
  float: left;
  width: calc((100% / 12) * 5); }

.col-6 {
  display: block;
  float: left;
  width: calc((100% / 12) * 6); }

.col-7 {
  display: block;
  float: left;
  width: calc((100% / 12) * 7); }

.col-8 {
  display: block;
  float: left;
  width: calc((100% / 12) * 8); }

.col-9 {
  display: block;
  float: left;
  width: calc((100% / 12) * 9); }

.col-10 {
  display: block;
  float: left;
  width: calc((100% / 12) * 10); }

.col-11 {
  display: block;
  float: left;
  width: calc((100% / 12) * 11); }

.col-12 {
  display: block;
  float: left;
  width: calc((100% / 12) * 12); }

/******************************************************
 * NOTES
 *
 *  Attributes
 *   [src="logo.jpg"] {}
 *   [alt="logo"] {}
 * Class which contain `col`
 *   [class*="col"]
 * Class which endes with `col`
 *   [class$="col"]
 * Class which starts with `col-`
 *   [class^="col-"] {
 *
 *
 */
