
//
// Grid
//


//===========================================================
//
// Rows
///
.row {
  margin: 0 auto;
  width:  100%;
}

.row:after {
  clear:   both;
  content: "";
  display: block;
}


//===========================================================
//
// Columns
//

[class^="col-"] {
  float:  left;
  margin: 0 auto;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    display: block;
    float:   left;
    width:   calc((100% / 12) * #{$i});
  }
}

